# -------------------------------------------------
# Build artifacts
# -------------------------------------------------
build/
**/build/**
out/**

# -------------------------------------------------
# IDE / Editor files
# -------------------------------------------------
.vscode/
*.rej
patch

# -------------------------------------------------
# Enviroment files
# -------------------------------------------------
venv
.env

# -------------------------------------------------
# Dependencies
# -------------------------------------------------
node_modules/

# -------------------------------------------------
# Generated / Binary resources
# -------------------------------------------------
app/resources/webapp.cpp
app/resources/editor.cpp
app/resources/menuoverlay.cpp
app/resources/splash.cpp
