[submodule "mikoinstaller"]
	path = mikoinstaller
	url = https://github.com/mikofure/mikoinstaller
[submodule "helpers/crashpad"]
	path = helpers/crashpad
	url = https://github.com/backtrace-labs/crashpad
[submodule "lauguageserver/typescript"]
	path = languageserver/typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
