@import "tailwindcss";

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

:root {
  user-select: none;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto
  }

  :root {
    --terminal-bg: hsl(220 13% 10%);
    --terminal-fg: hsl(220 13% 90%);
  }

  /* Terminal container styles */
  .xterm {
    height: 100%;
    padding: 0.5rem;
  }
  
  .xterm-viewport {
    width: 100% !important;
    height: 100% !important;
  }
  
  .xterm-screen {
    width: 100% !important;
    height: 100% !important;
  }
}

@layer utilities {
  .drag {
    -webkit-app-region: drag;
  }
  .no-drag {
    -webkit-app-region: no-drag;
  }
}